<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<td th:fragment="side-menu" style="vertical-align: top; width: 100px;">
    <table style="border: 0 solid; border-collapse: collapse; width: 100%;">
        <tbody>
        <tr style="height: 50px;">
            <td>
                <a href="books.html" th:href="@{/books}">
                    Books (<span th:text="${booksCount}">0</span>)
                </a>
            </td>
        </tr>
        <tr style="height: 50px;">
            <td>
                <a href="authors.html" th:href="@{/authors}">
                    Authors (<span th:text="${authorsCount}">0</span>)
                </a>
            </td>
        </tr>
        <tr style="height: 50px;">
            <td style="width: 100%; height: 10px;">
                <a href="genres.html" th:href="@{/genres}">
                    Genres (<span th:text="${genresCount}">0</span>)
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</td>
</body>
</html>