<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testDao"
          class="ru.otus.spring.dao.TestDaoCsv"
          destroy-method="destroy">
        <constructor-arg value="/Questions.csv"/>
    </bean>

    <bean id="testing"
          class="ru.otus.spring.domain.Testing">
        <constructor-arg ref="testDao"/>
    </bean>

    <bean id="testingService"
          class="ru.otus.spring.service.TestingServiceImpl">
        <constructor-arg ref="testing"/>
        <constructor-arg ref="producer"/>
    </bean>

    <bean id="producer"
          class="ru.otus.spring.communication.ProducerImpl"/>
</beans>