<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{main-library-title}">Library</title>
    <style>
        .data-table {
            border: 1px solid;
            border-collapse: collapse;
            width: 100%;
            text-align: start;
        }

        .data-table tr td, th {
            padding: 5px;
            border: 1px solid;
        }

        .inner-table tr td {
            border: 0;
            padding: unset;
        }
    </style>
</head>
<body>
<table style="border: 0 solid; border-collapse: collapse; width: 50%;">
    <tbody>
    <tr style="height: 100px;">
        <td style="text-align: center">
            <table style="border: 0 solid; border-collapse: collapse; width: 100%">
                <tbody>
                <tr>
                    <td style="width: max-content">
                        <h2><a href="home.html" style="text-align: center" th:href="@{/}"
                               th:text="#{main-library-title}">Library</a></h2>
                    </td>
                    <td style="width: 60px">
                        <div>
                            <a href="#" th:href="@{/(lang=en)}">EN</a>
                            <a href="#" th:href="@{/(lang=ru)}">RU</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding-left: 50px">
            <table style="border: 0 solid; border-collapse: collapse; width: 100%;">
                <tbody>
                <tr>
                    <td style="vertical-align: top; width: 100px;">
                        <table style="border: 0 solid; border-collapse: collapse; width: 100%;">
                            <tbody>
                            <tr style="height: 50px;">
                                <td>
                                    <a href="books.html" th:href="@{/books}"
                                       th:text="#{side-menu-books-element(${booksCount})}">Books (0)</a>
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td>
                                    <a href="authors.html" th:href="@{/authors}"
                                       th:text="#{side-menu-authors-element(${authorsCount})}">Authors (0)</a>
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="width: 100%; height: 10px;">
                                    <a href="genres.html" th:href="@{/genres}"
                                       th:text="#{side-menu-genres-element(${genresCount})}">Genres (0)</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: top; text-align: center">
                        <h3 th:if="${authorName == null && genreName == null}"
                            th:text="#{page-header-books-all}">All books</h3>
                        <h3 th:if="${authorName != null}"
                            th:text="#{page-header-books-by(${authorName})}">Books by author></h3>
                        <h3 th:if="${genreName != null}"
                            th:text="#{page-header-books-of(${genreName})}">Books of genre></h3>
                        <table class="data-table">
                            <thead>
                            <tr>
                                <th th:text="#{table-header-books-name}">Name</th>
                                <th th:text="#{table-header-books-author}">Author</th>
                                <th th:text="#{table-header-books-genres}">Genres</th>
                                <th th:text="#{table-header-books-comments}">Comments</th>
                                <th th:text="#{table-header-books-delete}">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="book : ${books}" th:object="${book}">
                                <td th:text="*{name}">Book 1</td>
                                <td th:text="*{author.name}">Author 1</td>
                                <td>
                                    <table class="inner-table">
                                        <tbody>
                                        <tr th:each="genre : *{genres}">
                                            <td th:text="${genre.name}">Genre 1</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="text-align: center">
                                    <a href="comments.html" th:href="@{/comments(book=*{name})}"
                                       th:text="#{link-view}">view</a>
                                </td>
                                <td style="text-align: center">
                                    <form method="post" th:action="@{/books/delete(name=*{name})}">
                                        <a href="#" onclick="parentNode.submit()"
                                           th:text="#{link-delete}">delete</a>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                        <form>
                            <a href="book-add.html" th:href="@{/books/add}">
                                <button type="button" th:text="#{button-book-add}">Add new</button>
                            </a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>